@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 40px;
  padding: 0 1rem;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
