.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #eee;

  thead {
    th {
      font-size: 1.4rem;
      padding: 0.8rem;
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #eee;
      }

      td {
        text-align: center;
        padding: 0.8rem;
        word-wrap: break-word;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
